<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dimix.package.dplay"
      android:versionCode="2"
      android:versionName="1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    </application>
    <preference name="permissions" value="none"/>

      <!-- to enable individual permissions use the following examples -->
      <feature name="http://api.phonegap.com/1.0/battery"/>
      <feature name="http://api.phonegap.com/1.0/camera"/>
      <feature name="http://api.phonegap.com/1.0/contacts"/>
      <feature name="http://api.phonegap.com/1.0/file"/>
      <feature name="http://api.phonegap.com/1.0/geolocation"/>
      <feature name="http://api.phonegap.com/1.0/media"/>
      <feature name="http://api.phonegap.com/1.0/network"/>
      <feature name="http://api.phonegap.com/1.0/notification"/>
</manifest>

